CLERK_PUBLISHABLE_KEY=pk_test_x
PORT=3000

# create an OAuth app in your Codeforces API settings
CF_CLIENT_ID=jt2tjqBAYCoAMSop5zgb3wh69t1fIau9
CF_CLIENT_SECRET=zJ6t3VUSmw6SB_5j0w-a9ERn0Jz4wZAlw66e-hsXCKuZrpETvHHUrryDfkvE1061nzYAe7FYmT2HVz_C3aVLag==
PUBLIC_URL=https://cfrace.wnbase.com

# set to 1 when behind a reverse proxy
TRUST_PROXY=1







# DEVELOPMENT; does not require CF verification
# ALLOW_UNVERIFIED_HANDLE=1